is/sheet_4/bookstore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="bookstore" type="bookstoreType"><!-- root element --></xs:element>
	<xs:complexType name="bookstoreType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="book" type="bookType">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="author" type="xs:string" />
			<xs:element name="year" type="yearType" />
			<xs:element name="price" type="xs:decimal" />
			<xs:element minOccurs="0" name="rate" type="rateType" />
			<xs:element minOccurs="0" name="bookFormat" type="bookformatType"/>
		</xs:sequence>
		<xs:attribute name="category" type="categoryType" use="required" >
		</xs:attribute>
		<xs:attribute name="isbn" type="xs:string" use="optional" />
	</xs:complexType>

	<!--Domain restrictions-->
	<xs:simpleType name="categoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WEB"/>
			<xs:enumeration value="CHILDREN"/>
			<xs:enumeration value="SCIENCE"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="rateType">
		<xs:restriction base="xs:unsignedByte">
			<xs:pattern value="[1-5]"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="yearType">
		<xs:restriction base="xs:unsignedShort">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="bookformatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="paperback"/>
			<xs:enumeration value="eletronic book text"/>
			<xs:enumeration value="hardback"/>
			<xs:enumeration value="ebook"/>
			<xs:enumeration value="loose-leaf"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>